RewriteEngine On
RewriteBase /

# Remove www subdomain
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

# Serve SASS files from SASSPHP compiler
RewriteRule ^styles/([^/]+\.scss) styles/scss.php/$1 [NC,L]
