RewriteEngine On
RewriteBase /

# Remove www subdomain
RewriteCond %{HTTP_HOST} ^www\.greenfinchgardening\.co\.uk [NC]
RewriteRule	^(.*)$ http://greenfinchgardening.co.uk\$1 [R=301,NC,L,QSA]

# Compile SASS files to CSS
RewriteRule ^styles/([^/]+\.scss) styles/scss.php/$1 [NC,L]
