RewriteEngine On
RewriteBase /

# Remove www subdomain
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

# Serve minified SASS files from SASSPHP compiler
RewriteRule ^styles/([^/]+\.scss) styles/scss.php?p=$1&min [NC,L]

# Cache static assets for one year
<filesMatch ".(jpg|jpeg|png|gif|ico|svg)$">
	Header set Cache-Control "max-age=31536000, public"
</filesMatch>
# Cache CSS and JavaScript for one week
<filesMatch ".(css|js)$">
	Header set Cache-Control "max-age=604800, public"
</filesMatch>
