@import "reset";
// @import "fonts";
@import "images";

$green: #94ac78;
$brown: #7f714a;
$dark-brown: #56453d;
$yellow: #e0ce4d;
$dark-yellow: #e0b54d;
$grey: #9f9a8e;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.4);

body {
	font-size: 16px;
	line-height: 1.2;
	font-family: Cambo, Times, serif;
	color: $brown;
	min-width: 19em;
}
h1 {
	font-size: 140%;
	text-transform: uppercase;
	text-align: center;
}
p {
	margin-bottom: 0.5em;
}
li {
	margin-bottom: 0.25em;
	line-height: 1;
}
a {
	color: $brown;
	text-decoration: none;
	display: inline-block;
	position: relative;
	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		background: $yellow;
		transition: width 0.5s, height 0.5s;
	}
	&:hover {
		&::after {
			height: 0.2em;
			width: 90%;
		}
	}
}
.inverted a {
	&::after {
		background: $dark-yellow;
	}
}
hr {
	@extend %image-hr-green;
	margin: 1em auto;
	height: 0.5em;
	border: 0;
	background-repeat: no-repeat;
	background-position: center;
}
section {
	padding: 2rem 1rem;
	position: relative;
	&.inverted {
		background-image: url("../images/bg-green.jpg");
		background-size: 100% auto;
		background-position: center;
		color: $white;
	}
	> * {
		width: 100%;
		max-width: 40rem;
		margin-left: auto;
		margin-right: auto;
	}
	> img {
		display: block;
	}
	nav {
		text-align: center;
		position: relative;
		top: -1em;
	}
	.full-width {
		max-width: calc(100% + 2em);
		width: calc(100% + 2em);
		margin-left: -1rem;
		margin-right: -1rem;
	}
}
nav a {
	color: $white;
	font-size: 90%;
	text-transform: lowercase;
	text-decoration: none;
	display: inline-block;
	padding: 0.3em;
	padding-bottom: 0.2em;
	border-radius: 0.3rem;
	&.active {
		color: $dark-brown;
		background: $dark-yellow;
		&::after {
			display: none;
		}
	}
}

.mission {
	font-style: italic;
	font-size: 115%;
	text-align: center;
}
.site-logo {
	max-width: 18rem;
	width: 70%;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
.logo-text {
	font-size: 180%;
	text-align: center;
	text-transform: lowercase;
	white-space: nowrap;
	color: $green;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	em {
		color: $brown;
	}
}
.signature {
	width: 15em;
}
.social {
	width: auto;
	position: absolute;
	a {
		display: inline-block;
	}
	img {
		// display: block;
		height: 1.2em;
	}
}
.links {
	text-align: center;
	line-height: 1.4;
}
.overlay-caption {
	position: absolute;
	left: 0;
	bottom: 0;
	max-width: 100%;
	background: $shadow;
	color: $white;
	padding: 0.5em;
	padding-top: 1em;
	padding-bottom: 0.8em;
	box-sizing: border-box;
	text-align: center;
}
blockquote,
.quote {
	font-style: italic;
	letter-spacing: 0.05em;
	quotes: "“" "”" "‘" "’";
	&::before {
		content: open-quote;
		margin-right: 0.15em;
	}
	&::after {
		content: close-quote;
		margin-left: 0.15em;
	}
	&::before,
	&::after {
		font-family: "Times New Roman", Times, serif;
		font-style: normal;
		color: $dark-yellow;
		font-size: 3.5em;
		line-height: 0;
		vertical-align: -0.4em;
	}
}
.slideshow {
	margin-top: -2rem;
	margin-bottom: -2rem;
	height: 25em;
	overflow: hidden;
	position: relative;
	.slide {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.slide img {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
}
.slide {
	position: absolute;
	transform: translateX(100%);
	&.current,
	&.previous {
		transition: transform 0.8s;
	}
	&.current {
		transform: translateX(0);
	}
	&.previous {
		transform: translateX(-100%);
	}

}
.slideshow-pager {
	$size: 0.5em;
	$grow: 0.4em;
	$spacing: 0.4em;
	text-align: center;
	padding-top: 0.7em;
	padding-bottom: 0;
	margin-bottom: -1em;
	* {
		display: inline-block;
		margin: $spacing;
		background: $green;
		width: $size;
		height: $size;
		border-radius: 2 * $size;
		transition: width 0.5s, height 0.5s, margin 0.5s;
	}
	.active {
		width: $size + $grow;
		height: $size + $grow;
		margin: $spacing - $grow / 2;
		background: $dark-yellow;
		position: relative;
	}
}
.badge-info {
	$offset: -1.5em;
	position: relative;
	.badge {
		height: 4.5em;
		display: block;
		position: absolute;
		right: calc(50% + #{0.5em - $offset});
		top: 50%;
		margin-top: -2.25em;
	}
	.badge + ul {
		margin-left: calc(50% + #{0.5em + $offset});
	}
}
