@import "reset";
@import "fonts";
@import "mixins";

$green: #94ac78;
$brown: #7f714a;
$dark-brown: #56453d;
$yellow: #e0ce4d;
$dark-yellow: #e0b54d;
$grey: #9f9a8e;
$white: #fff;
$red: #cc6358;
$shadow: rgba(0, 0, 0, 0.4);

body {
	font-size: 16px;
	line-height: 1.2;
	font-family: Cambo, Times, serif;
	color: $brown;
	min-width: 19em;
}
h1,
h2 {
	font-size: 140%;
	text-transform: uppercase;
	text-align: center;
}
p + * {
	margin-top: 1.2rem;
}
p + p {
	margin-top: 0.5em;
}
p + footer {
	margin-top: 3.5em;
}
li {
	margin-bottom: 0.25em;
	line-height: 1;
}
a {
	color: $brown;
	text-decoration: none;
	display: inline-block;
	position: relative;
	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		top: calc(100% - 0.1em);
		transform: translateX(-50%);
		width: 0;
		height: 0;
		background: $yellow;
		transition: width 0.5s, height 0.5s;
	}
	&:hover {
		&::after {
			height: 0.2rem;
			width: 90%;
		}
	}
}
hr {
	@include image-hr($green);
	margin: 1em auto;
	height: 0.5em;
	border: 0;
	background-repeat: no-repeat;
	background-position: center;
}
section,
header {
	padding: 2.5rem 1rem;
	position: relative;
	&.inverted {
		background-image: url("../images/bg-green.jpg");
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
		color: $white;
	}
	&.no-padding {
		padding-top: 0;
		padding-bottom: 0;
	}
	> * {
		width: 100%;
		max-width: 40rem;
		margin-left: auto;
		margin-right: auto;
	}
	> img {
		display: block;
	}
	nav {
		text-align: center;
		position: relative;
		top: -1em;
		box-sizing: border-box;
		padding-left: 1em;
		padding-right: 1em;
	}
	.full-width {
		max-width: calc(100% + 2rem);
		width: calc(100% + 2rem);
		margin-left: -1rem;
		margin-right: -1rem;
	}
}
.inverted {
	a {
		color: $dark-yellow;
		&::after {
			background: $dark-yellow;
		}
	}
	hr {
		@include image-hr($white);
	}
	.logo-text {
		color: $white;
		em {
			color: $dark-brown;
		}
	}
	nav a {
		color: $white;
	}
	footer a {
		color: $green;
	}
}

nav a {
	color: $white;
	font-size: 90%;
	text-transform: lowercase;
	text-decoration: none;
	display: inline-block;
	margin: 0.3em;
	margin-bottom: 0.2em;
	border-radius: 0.3rem;
	&.active {
		color: $dark-brown;
		background: $dark-yellow;
		padding: 0.3em;
		padding-bottom: 0.2em;
		margin: 0;
		&::after {
			display: none;
		}
	}
}

form {
	.field {
		position: relative;
		width: 20em;
		max-width: 100%;
		margin: 0 auto;
	}
	label {
		display: none;
		position: absolute;
		right: 0.5em;
		max-width: 100%;
		top: 0.55em;
		color: $grey;
		font-size: 80%;
	}
	button,
	input,
	textarea {
		display: block;
		margin-bottom: 0.4em;
		padding: 0.4em;
		border: 0;
		border-radius: 0.2rem;
		font-size: 90%;
		font-family: inherit;
	}
	input,
	textarea {
		width: 100%;
		box-sizing: border-box;
		background: $white;
		color: $brown;
		&:focus {
			&:placeholder-shown + label {
				display: none;
			}
			+ label {
				display: block;
			}
		}
	}
	input {
		+ label + .valid-flag {
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			top: 0.35em;
			right: 0.3em;
			width: 1.1em;
			height: 100%;
		}
		&:focus {
			padding-right: 3em;
		}
		&:valid {
			border-right: 2em solid lighten($green, 25);
			+ label + .valid-flag {
				@include image-tick;
			}
		}
		&:invalid {
			border-right: 2em solid lighten($red, 25);
			+ label + .valid-flag {
				@include image-cross;
			}
		}
		&:placeholder-shown:valid,
		&:placeholder-shown:invalid,
		&:focus {
			border: 0;
			+ label + .valid-flag {
				display: none;
			}
		}
	}
	button {
		width: 12em;
		margin: 0 auto;
		margin-top: 0.8em;
		background: $dark-yellow;
		color: $white;
		cursor: pointer;
	}
	.message {
		display: none;
		margin-top: 0.5em;
		text-align: center;
	}
	@include placeholder($grey);
}

.mission {
	font-style: italic;
	font-size: 115%;
	text-align: center;
}
.site-logo {
	max-width: 18rem;
	width: 70%;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
.logo-text {
	font-size: 180%;
	text-align: center;
	text-transform: lowercase;
	white-space: nowrap;
	color: $green;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	em {
		color: $brown;
	}
	&:last-child {
		margin-bottom: -0.5rem;
	}
}
.logo-icon {
	font-size: 180%;
	color: $dark-brown;
	&::first-letter {
		color: $white;
	}

}
.signature {
	width: 12em;
	margin-bottom: -1em;
}
.social {
	width: auto;
	position: absolute;
	margin: 0;
	bottom: 0.8rem;
	left: 1rem;
	a {
		display: inline-block;
		&:after {
			top: calc(100% + 0.3em);
		}
	}
	img {
		display: block;
		height: 1.2em;
	}
}
.links {
	text-align: center;
	line-height: 1.4;
}
.overlay-caption {
	position: absolute;
	left: 0;
	bottom: 0;
	max-width: 100%;
	background: $shadow;
	color: $white;
	padding: 0.5em;
	padding-top: 1em;
	padding-bottom: 0.8em;
	box-sizing: border-box;
	text-align: center;
}
blockquote,
.quote {
	font-style: italic;
	letter-spacing: 0.05em;
	quotes: "“" "”" "‘" "’";
	&::before {
		content: open-quote;
		margin-right: 0.15em;
	}
	&::after {
		content: close-quote;
		margin-left: 0.15em;
	}
	&::before,
	&::after {
		font-family: "Times New Roman", Times, serif;
		font-style: normal;
		color: $dark-yellow;
		font-size: 3.5em;
		line-height: 0;
		vertical-align: -0.4em;
	}
}
.slideshow {
	height: 25em;
	overflow: hidden;
	position: relative;
	.slide {
		width: 100%;
		height: 100%;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	}
}
.slide {
	position: absolute;
	transform: translateX(100%);
	&.current,
	&.previous {
		transition: transform 0.8s ease-in-out;
	}
	&.current {
		transform: translateX(0);
	}
	&.previous {
		transform: translateX(-100%);
	}

}
.slideshow-pager {
	$size: 0.4em;
	$grow: 0.3em;
	$spacing: 0.4em;
	width: auto;
	text-align: center;
	padding-top: 0.7em;
	padding-bottom: 0;
	margin-bottom: -1em;
	* {
		display: inline-block;
		margin: $spacing;
		background: $green;
		width: $size;
		height: $size;
		border-radius: 2 * $size;
		transition: width 0.5s, height 0.5s, margin 0.5s;
	}
	.active {
		width: $size + $grow;
		height: $size + $grow;
		margin: $spacing - $grow / 2;
		background: $dark-yellow;
		position: relative;
	}
}
.badge-info {
	$offset: -1.5em;
	position: relative;
	.badge {
		height: 4.5em;
		display: block;
		position: absolute;
		right: calc(50% + #{0.5em - $offset});
		top: 50%;
		margin-top: -2.25em;
	}
	.badge + ul {
		margin-left: calc(50% + #{0.5em + $offset});
	}
}

footer {
	font-size: 70%;
	margin-top: 2em;
	margin-bottom: -1.5rem;
	position: relative;
	a {
		color: $green;
	}
	.logo-icon {
		font-size: 350%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.slide[style^="background-image"] {
	&[style*="slide1.jpg"] {
		background-position: 20% 50%;
	}
}

@media all and (min-width: 30em) {
	.slideshow {
		height: 30em;
	}
	header nav {
		text-align: right;
	}
}
@media all and (min-width: 40em) {
	body {
		font-size: 115%;
	}
	.badge-info {
		font-size: 110%;
	}
	.signature {
		position: absolute;
		left: calc(50% + 6em);
		bottom: 1em;
		margin: 0;
		width: 10em;
	}

}
@media all and (min-width: 60em) {
	body {
		font-size: 130%;
	}
	.site-logo {
		max-width: 22rem;
	}
	.slideshow {
		height: 25em;
	}
	form {
		position: relative;
		margin-top: 3rem;
		margin-bottom: 3rem;
		.field {
			width: calc(55% - 0.4rem);
			margin-left: -5%;
			&:last-of-type {
				position: absolute;
				left: calc(50% + 0.4rem);
				top: 0;
				margin-left: 0;
			}
			textarea {
				height: 6.6em;
			}
		}
		button {
			width: 50%;
		}
	}
	section:not(.inverted):not(.no-padding) {
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
	}
}
